
body {
    text-align: center;
}

#article {
    width: 50%;
    padding: 100px 0px;
    margin: 0 auto;
}
#article img {
    width: 100%;
    margin-bottom: 50px;
    display: block;
}
#article h1 {
    padding: 0px 150px ;
    font-size: 25px;
    text-align: start;
    line-height: 1.3em;
}
#article p {
    padding: 0px 150px ;
    font-size: 20px;
    text-align: start;
    line-height: 2em;
}
#article p b {
    font-weight: bold;
}
#article p b i{
    font-weight: bold;
    color: #222;
}