<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        a {
            margin-right: 40px;
            margin-top: 40px;
            display: inline-block;
            background-color: rgb(83, 233, 150);
            text-decoration: none;
            color: #fff;
            padding: 10px 20px;
            font-weight: 900;
        }
    </style>
</head>
<body>
    <h3>Home Page</h3>
    <a href="/submit">Add Student </a>
    <a href="/students">List Student </a>
</body>
</html>