* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 100px;
}
header section.wrapper{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 0; */
}
header h1.left {}
header h1.left a {}
header h1.left a img {
    height: 80px;
}
header div.right {}
header div.right span {}
header div.right a {}